name: Test app

on:
  push:
    paths: 
      - '**.py'
    branches:
      - main
  workflow_dispatch:
    inputs:
      log_errors:
        description: 'If set to True, receive a detailed log on test failure'
        required: false
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test with pytest
        run: |
          pip install pytest pytest-cov
          pytest test_weather_integration.py test_weather_unit.py test_failure.py\
            --doctest-modules \
            --junitxml=junit/test-results.xml \
            --cov=com \
            --cov-report=xml \
            --cov-report=html > pytest_output.log 2>&1
            
      - name: Upload pytest log
        if: |
          github.event_name == 'push' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.log_errors == 'true')
        uses: actions/upload-artifact@v4
        with:
          name: pytest-log
          path: pytest_output.log

      - name: Fail job if tests failed
        if: steps.pytest.outcome == 'failure'
        run: exit 1
